In [5]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
import time

driver = webdriver.Chrome()

def extract_data(page_no):
    url = f"https://www.reed.co.uk/courses/online?page={page_no}" # pagination implemented. 
    driver.get(url) # call the driver. 
    time.sleep(2) 

    titles = driver.find_elements(By.CSS_SELECTOR, "div.top-col > h2 > a") # selects all 25 titles of a single page. 
    providers = driver.find_elements(By.CSS_SELECTOR, "div.top-col > div.provider-name") # selects all 25 providers of a single page. 
    students = driver.find_elements(By.CSS_SELECTOR, "div:nth-child(3) > div.bottom-col > ul > li:nth-child(1) > span") # selects all students amount of a single page. 

    for i in range(len(titles)):
        f = {
            "Title": titles[i].text.strip(), 
            "Provider": providers[i].text.strip() if i < len(providers) else "",
            "Students": students[i].text.strip() if i < len(students) else "",
            "URL": titles[i].get_attribute("href"),
        }
        
        lst.append(f)

    print(f"Page {page_no} scraped successfully.")

lst = []

for i in range(1, 11):
    extract_data(i)

df = pd.DataFrame(lst) # save all datas in pandas dataframe. 
df.to_csv("courses_info.csv", index=False) # index=False to avoid extra index in the column 

driver.quit()
print("\nSaved all data in courses_info.csv")

Page 1 scraped successfully.
Page 2 scraped successfully.
Page 3 scraped successfully.
Page 4 scraped successfully.
Page 5 scraped successfully.
Page 6 scraped successfully.
Page 7 scraped successfully.
Page 8 scraped successfully.
Page 9 scraped successfully.
Page 10 scraped successfully.

Saved all data in courses_info.csv

In [6]:
df

,Title,Provider,Students,URL
0,Level 3 Diploma in Health and Social Care + Ca...,IOMH,"14,134 students",https://www.reed.co.uk/courses/level-3-diploma...
1,"Microsoft Office Skills (Microsoft Excel, Word...",NextGen Learning,"9,294 students",https://www.reed.co.uk/courses/microsoft-offic...
2,Cyber IT Security Career Package inc Job Place...,ITonlinelearning,"1,580 enquiries",https://www.reed.co.uk/courses/cyber-it-securi...
3,Data Analyst Career Programme with a Job Guara...,Newto Training Limited,303 enquiries,https://www.reed.co.uk/courses/data-analyst-ca...
4,Microsoft Excel Complete Course - Beginner To ...,Janets,"9,946 students",https://www.reed.co.uk/courses/microsoft-excel...
...,...,...,...,...
245,Agile Project Management (AgilePM®) Practition...,TCC Training and Consultancy,148 enquiries,https://www.reed.co.uk/courses/agile-project-m...
246,"UK Tax : Tax Accounting, HMRC, Corporation Tax...",Course Drive,165 students,https://www.reed.co.uk/courses/uk-tax--tax-acc...
247,Nutrition Diploma Level 5: Nutritionist Course...,Royal Open College,61 students,https://www.reed.co.uk/courses/nutrition-diplo...
248,Level 5 Diploma in Car Mechanic & Car Maintena...,Royal Open College,69 students,https://www.reed.co.uk/courses/level-5-diploma...
249,Level 3 HACCP for Managers and Supervisors - C...,Royal Open College,52 students,https://www.reed.co.uk/courses/level-3-haccp-f...